html {
  width: 100%;
  height: 100%;
}
html body {
  width: 100%;
  height: 100%;
}
html body .shinaider {
  width: 100%;
  height: 100%;
  background: #f2f2f2;
}
html body .shinaider .header {
  width: 100%;
  height: 0.88rem;
  background: #3dcd58;
  padding-top: 0.16rem;
  padding-right: 0.3rem;
}
html body .shinaider .header img {
  width: 2.48rem;
  height: 0.56rem;
  float: right;
}
html body .shinaider .overdue {
  height: 0.72rem;
  background: #f4f2de;
  line-height: 0.25rem;
  padding-left: 0.3rem;
}
html body .shinaider .overdue img {
  width: 0.3rem;
  height: 0.3rem;
}
html body .shinaider .overdue span {
  font-size: 0.3rem;
  font-family: PingFangSC-Regular, PingFang SC;
  font-weight: 400;
  color: #a27b4a;
  margin-left: -0.1rem;
}
html body .shinaider .container {
  width: 6.9rem;
  background-color: #fff;
  margin: 0.3rem auto;
  padding: 0.3rem;
}
html body .shinaider .container .basic_data {
  border-bottom: 2px solid #eeeeee;
  padding-bottom: 0.3rem;
}
html body .shinaider .container .basic_data .top {
  margin-bottom: 0.4rem;
}
html body .shinaider .container .basic_data .top .head_portrait {
  width: 1.4rem;
  height: 1.4rem;
  margin-right: 0.2rem;
}
html body .shinaider .container .basic_data .top .head_portrait img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
html body .shinaider .container .basic_data .top .info_box {
  padding-top: 0.14rem;
}
html body .shinaider .container .basic_data .top .info_box .name {
  font-size: 0.4rem;
  font-family: PingFangSC-Medium, PingFang SC;
  font-weight: 500;
  color: #333333;
  margin-bottom: 0.14rem;
}
html body .shinaider .container .basic_data .top .info_box .business_card {
  width: 1.72rem;
  height: 0.54rem;
  background: #f3f4f8;
  border-radius: 0.27rem;
  font-size: 0.26rem;
  font-family: PingFangSC-Regular, PingFang SC;
  font-weight: 400;
  color: #333333;
  text-align: center;
  line-height: 0.54rem;
}
html body .shinaider .container .basic_data .top .info_box .business_card img {
  width: 0.14rem;
  height: 0.26rem;
  vertical-align: -1.5px;
}
html body .shinaider .container .basic_data .bottom {
  font-size: 0.28rem;
  font-family: PingFangSC-Regular, PingFang SC;
  font-weight: 400;
  color: #666666;
}
html body .shinaider .container .basic_data .bottom .info_item img {
  width: 0.28rem;
  height: 0.28rem;
  vertical-align: -2px;
}
html body .shinaider .container .basic_data .bottom .info_second {
  border-left: 2px solid #eeeeee;
  border-right: 2px solid #eeeeee;
}
html body .shinaider .container .company_data {
  border-bottom: 2px solid #eeeeee;
  padding: 0.3rem 0 0.1rem;
}
html body .shinaider .container .company_data .company_item {
  font-size: 0.26rem;
  font-family: PingFangSC-Regular, PingFang SC;
  font-weight: 400;
  color: #666666;
  margin-bottom: 0.2rem;
}
html body .shinaider .container .company_data .company_item .left_key {
  margin-right: 0.4rem;
  width: 1.3rem;
  text-align: right;
}
html body .shinaider .container .company_data .company_item .right_val {
  width: 4.5rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
html body .shinaider .container .Business_data {
  padding: 0.3rem 0;
  border-bottom: 2px solid #eeeeee;
}
html body .shinaider .container .Business_data .Business_left {
  border-right: 2px solid #eeeeee;
}
html body .shinaider .container .Business_data .Business_item {
  width: 50%;
  font-size: 0.26rem;
  font-family: PingFangSC-Regular, PingFang SC;
  font-weight: 400;
  color: #999999;
}
html body .shinaider .container .Business_data .Business_item p {
  text-align: center;
}
html body .shinaider .container .Business_data .Business_item .top_val {
  color: #666666;
  margin-bottom: 0.1rem;
}
html body .shinaider .container .curriculum_data {
  padding-top: 0.3rem;
}
html body .shinaider .container .curriculum_data h3 {
  font-size: 0.28rem;
  font-family: PingFangSC-Regular, PingFang SC;
  font-weight: 400;
  color: #333333;
  margin-bottom: 0.16rem;
}
html body .shinaider .container .curriculum_data .curriculum_item {
  width: 100%;
  height: 0.9rem;
  background-color: #fafafa;
  margin-bottom: 0.2rem;
}
html body .shinaider .container .curriculum_data .curriculum_item .curriculum_left {
  padding-top: 0.15rem;
  padding-left: 0.2rem;
  width: 4.84rem;
  height: 100%;
  border-right: 2px solid #ffffff;
}
html body .shinaider .container .curriculum_data .curriculum_item .curriculum_left h4 {
  font-size: 0.26rem;
  font-family: PingFangSC-Regular, PingFang SC;
  font-weight: 400;
  color: #666666;
  margin-bottom: 0.1rem;
  width: 4.6rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
html body .shinaider .container .curriculum_data .curriculum_item .curriculum_left .date {
  font-size: 0.2rem;
  font-family: PingFangSC-Regular, PingFang SC;
  font-weight: 400;
  color: #999999;
}
html body .shinaider .container .curriculum_data .curriculum_item .curriculum_right {
  width: 1.44rem;
  height: 0.9rem;
  line-height: 0.4rem;
  text-align: center;
}
html body .shinaider .container .curriculum_data .curriculum_item .curriculum_right a {
  font-size: 0.26rem;
  font-family: PingFangSC-Regular, PingFang SC;
  font-weight: 400;
  color: #3dcd58;
  text-decoration: underline;
}
html body .shinaider .expired_container .basic_data .top .info_box .name {
  color: #999999;
}
html body .shinaider .expired_container .basic_data .top .info_box .business_card {
  color: #999999;
}
html body .shinaider .expired_container .basic_data .bottom {
  color: #999999;
}
html body .shinaider .expired_container .company_data .company_item {
  color: #999999;
}
html body .shinaider .expired_container .Business_data .Business_item .top_val {
  color: #999999;
}
html body .shinaider .expired_container .curriculum_data h3 {
  color: #999999;
}
html body .shinaider .expired_container .curriculum_data .curriculum_item .curriculum_left h4 {
  color: #999999;
}
html body .shinaider .expired_container .curriculum_data .curriculum_item .curriculum_right a {
  color: #999999;
}
html body .shinaider .card_mask {
  width: 7.5rem;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
}
html body .shinaider .card_mask .card_box {
  width: 100%;
  height: 4.23rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
html body .shinaider .card_mask .card_box img {
  width: 100%;
  height: 100%;
}
html body .authentication_failed {
  text-align: center;
  width: 100%;
  height: 100%;
  background-color: #fff;
}
html body .authentication_failed .header {
  width: 100%;
  height: 0.88rem;
  background: #3dcd58;
  padding-top: 0.16rem;
  padding-right: 0.3rem;
}
html body .authentication_failed .header img {
  width: 2.48rem;
  height: 0.56rem;
  float: right;
}
html body .authentication_failed .failed_img {
  width: 2.84rem;
  height: 1.92rem;
  margin-top: 2.38rem;
  margin-bottom: 0.3rem;
}
html body .authentication_failed h3 {
  font-size: 0.3rem;
  font-family: PingFangSC-Regular, PingFang SC;
  font-weight: 400;
  color: #666666;
  margin-bottom: 0.1rem;
}
html body .authentication_failed h4 {
  font-size: 0.26rem;
  font-family: PingFangSC-Regular, PingFang SC;
  font-weight: 400;
  color: #999999;
  line-height: 0.36rem;
}
html body .authentication_detail {
  width: 100%;
  height: 100%;
}
html body .authentication_detail .img_wrapper {
  padding: 0.3rem;
}
html body .authentication_detail .img_wrapper .img_item img {
  width: 100%;
  height: 100%;
}
html body .pending {
  width: 100%;
  height: 100%;
  background: #f2f2f2;
}
html body .pending .header {
  width: 100%;
  height: 0.88rem;
  background: #3dcd58;
  padding-top: 0.16rem;
  padding-right: 0.3rem;
}
html body .pending .header img {
  width: 2.48rem;
  height: 0.56rem;
  float: right;
}
html body .pending .container {
  padding-top: 1.6rem;
  text-align: center;
  min-height: calc(100vh - 0.88rem);
  background-color: #fff;
}
html body .pending .container img {
  width: 1.6rem;
  height: 1.6rem;
}
html body .pending .container h3 {
  font-size: 0.3rem;
  font-family: PingFangSC-Medium, PingFang SC;
  font-weight: 500;
  color: #666666;
  margin-top: 0.3rem;
  margin-bottom: 0.1rem;
}
html body .pending .container h4 {
  font-size: 0.26rem;
  font-family: PingFangSC-Regular, PingFang SC;
  font-weight: 400;
  color: #999999;
}
.clearfix:after {
  content: '';
  clear: both;
  display: block;
  height: 0;
  visibility: hidden;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.zhezhao {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 99999;
  background-color: rgba(0, 0, 0, 0.7);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.zhezhao .zhezhao_content {
  width: 80%;
  border-radius: 5px;
  overflow: hidden;
}
.zhezhao .zhezhao_content h3 {
  padding: 0 10px;
  height: 60px;
  line-height: 60px;
  font-size: 16px;
  font-weight: 400;
  border-radius: 5px 5px 0 0;
  text-align: center;
  background: url("../image/tk_bg.png") no-repeat;
  background-size: cover;
  color: white;
  margin-bottom: 0;
}
.zhezhao .zhezhao_content .content {
  padding: 0.2rem 0.2rem 0.5rem !important;
  background-color: white;
  text-align: center;
}
.zhezhao .zhezhao_content .content .code {
  width: 70%;
  vertical-align: top;
}
.zhezhao .zhezhao_content .content p {
  font-size: 16px;
}
